/* padding */
.p-5 {
    padding: 5px;
}
.p-10 {
    padding: 10px;
}
.p-15 {
    padding: 15px;
}
.p-20 {
    padding: 20px;
}
.p-25 {
    padding: 25px;
}
.p-30 {
    padding: 30px;
}
.p-35 {
    padding: 35px;
}

/* margin */
.m-5 {
    margin: 5px;
}
.m-10 {
    margin: 10px;
}
.m-15 {
    margin: 15px;
}
.m-20 {
    margin: 20px;
}
.m-25 {
    margin: 25px;
}
.m-30 {
    margin: 30px;
}
.m-35 {
    margin: 35px;
}
.mb-30 {
    margin-bottom: 30px;
}

/* border */
.b-1 {
    border: 1px solid #c5c5c5;
}

/* font-size */
.f-12 {
    font-size: 12px;
}
.f-13 {
    font-size: 13px;
}
.f-15 {
    font-size: 15px;
}
.f-16 {
    font-size: 16px;
}
.f-18 {
    font-size: 18px;
}
.f-35 {
    font-size: 35px;
}

/* font-decoration */
.font-700 {
    font-weight: 700;
}

/* font-color */
.point {
    color: #00AEEF;
}
.medium-gray {
    color: #F7F7F7;
}
.medium-dart-gray {
    color: #E9E9E9;
}
.dark-gray {
    color: #A3A3A3;
}
.highlight {
    color: #6BCFF6;
}
.red {
    color: #ff0000;
}
.white {
    color: #fff;
}
.blk {
    color: #000;
}
.grn {
    color: #01f600;
}
.gray {
    color: #c5c5c5;
}

/* bg */
.bg-gray {
    background-color: #c5c5c5;
}
.bg-white {
    background-color: #fff;
}
.bg-point {
    background-color: #00AEEF;
}
.bg-highlight {
    background-color: #6BCFF6;
}

/* text-align */
.t-center {
    text-align: center;
}
.t-left {
    text-align: left;
}
.t-right {
    text-align: right;
}

/* position center */
.position-center {
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}

/* display */
.d-none {
    display: none;
}
.d-block {
    display: block;
}
.d-flex {
    display: flex;
}
.space-between {
    justify-content: space-between;
}

/* mouse */
.pointer {
    cursor: pointer;
}